/*--------Color Pallete-------------
green = #1AA97E
black = #0A140B
white = #EEE6E3
-------------------------------------*/
:root{
  --pallet-green--:#1AA97E;
  --pallet-black--:#0A140B;
  --pallet-white--:#EEE6E3;
}


.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}




/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-wordpress.sk-spinner {
  background-color: #bfba55;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
  animation: sk-innerCircle 1s linear infinite; 
}

.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; 
}

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }



/*---------------------------------------
    Main Navigation             
-----------------------------------------*/

.nav-menu{
  position: fixed;
  z-index: 19;
  width: 100%;
  display: none;
  opacity: 0;
  padding: 4rem 2rem 0 2rem;
  background: linear-gradient(to right,rgba(14, 13, 13, 1),rgba(26, 26, 26, 0.8),rgba(43, 42, 42, 0.7),rgba(36, 36, 36, .5), transparent 90%);
  transition: opacity .5s;
  border: none;
  height: 100vh;
}

.open-menu{
  opacity: 1 !important;
}
.nav-items {
  list-style: none;
}
.nav-item a{
  text-decoration: none;
  color: rgb(132, 139, 139);
  font-size: 4rem;
}

.nav-item a:hover{
  color: rgb(250, 250, 250);
}
.hamberger-btn{
  position: fixed;
  cursor: pointer;
  margin: 1rem;
  z-index: 20;

}
.bar{
  opacity: 1;
  height: 5px;
  width: 40px;
  background-color: rgb(94, 92, 92);
  margin: 5px;
  transform: rotateZ(0) translateY(0);
  border-radius: 4px;
  transition: transform .5s,opacity .5s;
}

.top-bar{
transform: rotateZ(220deg) translateY(-10px);
}

.bottom-bar{
  transform: rotateZ(140deg) translateY(10px);
}
.middle-bar{
  opacity: 0;
}


/*---------------------------------------
Site Cover 
-----------------------------------------*/
.site-cover{
  position: relative;
  width: 100%;
  height: 100vh;
}
.site-cover video{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(30%);
}
.cover-ui{
  display: flex;
  justify-content:
  center;align-items: center;
  width: 100%;
  height: 100vh;
}
#search-input{
  display: none;
  justify-content: space-between;
  opacity: 0;
  border-bottom:2px solid snow; 
  transition: opacity .5s,transform .5s;
  transform: translateY(8rem) scale(.1);

  width: 90%;
 
  padding: 1rem;
}
#search-input input{
  border: none;
  color: snow;
  background-color: transparent;
  font-size: 4rem;
  text-align: right;
  width: 80%;
}
#search-input input:focus{
  outline: none;
}

.open-search{
  opacity: 1 !important;
  transform: translateY(0rem) scale(1) !important;
}
#start-search{
  background:url("../images/search-icon.svg") no-repeat;
  background-size: cover;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}

@media (max-width:40rem){
  #search-input input{
    font-size: 2rem;
  }

  #start-search{
    width: 3rem;
    height: 3rem;
  }
}

.cover-ui .btn {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #444;
  font-family: 'Merriweather', serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 22px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
}

.cover-ui .btn:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
/*---------------------------------------
   Time line section              
-----------------------------------------*/
/*- Screen Sizes*/
/*import fonts*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Oswald");
/*media queries*/
#timeline-container{
  border:5px solid var(--pallet-green--);
  border-radius:4px;
  width: 100%;
  justify-self: center;
  margin: 0 auto;

}
.wrapper {
  margin: 3.125em auto;
  padding: 1em 5em 1em;
  max-width: 1000px;
}

.wrapper h1 {
  color: var(--pallet-black--);
  font-family: "Open Sans", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  text-align: center;
  margin: 0 0 2rem 0; 
}
.timeline {
  line-height: 1.5em;
  font-size: 14px;
  transition: all .4s ease;
  position: relative;
  counter-reset: section;
}
.timeline:before {
  content: "";
  width: 10px;
  height: 100%;
  background: var(--pallet-black--);
  position: absolute;
  top: 0;
  left: -3.313em;
  border-radius: 40px 40px;
}

.timeline--entry {
  position: relative;
  background-color: var(--pallet-white--);
  transform: scale(0);
  transition: transform .5s;
}

.open-entry{
  transform: scale(1);
}


.timeline--entry__title {
  color: var(--pallet-white--);
  background-color: var(--pallet-green--);
  font-family: "Oswald", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 1em;
}
.timeline--entry__title:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -1em;
  border-right: 10px solid var(--pallet-green--);
}
.timeline--entry__detail {
  background-color: var(--pallet-black--);
  color: var(--pallet-white--);
  padding: 1em;
  margin: 0;
}
.timeline--entry:before {
  content: "";
  font-family: "Oswald", Georgia, Cambria, "Times New Roman", Times, serif;
  color: var(--pallet-white--);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  background-color: var(--pallet-green--);
  border: .2em solid var(--pallet-green--);
  border-radius: 50%;
  position: absolute;
  counter-increment: section;
  content: counter(section);
  text-shadow: 0 1px 0 #424242;
  left: -4.5em;
}
@media (min-width:1000px){
  #timeline-container{
    margin: 8.8rem auto;
    width: 90%;
  }
}
@supports (display: grid) {
  @media (min-width: 768px) {
    .timeline {
      display: grid;
      grid-gap: 4.75em;
      grid-template-areas: ".  entry1" "entry2  ." ". entry3" "entry4 ." ". entry5";
    }
    .timeline:before {
      left: 49.5%;
    }

    .timeline--entry:nth-child(1) {
      grid-area: entry1;
    }
    .timeline--entry:nth-child(2) {
      grid-area: entry2;
    }
    .timeline--entry:nth-child(3) {
      grid-area: entry3;
    }
    .timeline--entry:nth-child(4) {
      grid-area: entry4;
    }
    .timeline--entry:nth-child(5) {
      grid-area: entry5;
    }
    .timeline--entry:nth-of-type(odd):before {
      left: -3.8em;
    }
    .timeline--entry:nth-of-type(even):not(:nth-of-type(odd)) .timeline--entry__title:before {
      left: 100%;
      border-left: 10px solid var(--pallet-green--);
      border-right: 0;
    }
    .timeline--entry:nth-of-type(even):before {
      left: 103%;
    }
  }
}



/*---------------------------------------
   Contact section              
-----------------------------------------*/

#contact .col-md-4 {
  padding-left: 0px;
}

#contact .col-md-12 {
  padding-left: 0;
}

#contact form {
  padding-top: 32px;
}

#contact .form-control {
  border: 2px solid #f0f0f0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #555;
}

#contact input {
  height: 50px;
}

#contact input[type="submit"] {
  background: #bfba55;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
  background: #333;
}


/*------------------------------------------
  Products section 
-------------------------------------------*/
.products-container{
  display: grid;
  grid-template-columns: repeat(1,auto);
  justify-items: center;
}

@media (min-width:650px) and (max-width:850px){
  .products-container{
    grid-template-columns: repeat(2,auto);
  }
}

@media (min-width:850px) and (max-width:1200px){
  .products-container{
    grid-template-columns: repeat(3,auto);
  }
}

@media (min-width:1200px){
  .products-container{
    grid-template-columns: repeat(4,auto);
  }
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1256 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #07090c;
  font-size: 16px;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip1256 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1256 img {
  opacity: 1;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
figure.snip1256 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% -50%;
  -ms-transform-origin: 50% -50%;
  transform-origin: 50% -50%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
figure.snip1256 h3,
figure.snip1256 p {
  line-height: 1.5em;
}
figure.snip1256 h3 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
figure.snip1256 p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}
figure.snip1256 .read-more {
  border: 2px solid #ffffff;
  padding: 0.5em 1em;
  font-size: 0.8em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}
figure.snip1256 .read-more:hover {
  background-color: #ffffff;
  color: #000000;
}
figure.snip1256:hover img,
figure.snip1256.hover img {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
}
figure.snip1256:hover figcaption,
figure.snip1256.hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}





/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
    background: #000;
    color: #ffffff;
    padding: 80px 0px;
    position: relative;
}

footer .col-md-4 .fa {
  color: #ffffff;
  padding-right: 8px;
}

footer hr {
  border-color: #121212;
  margin-top: 62px;
  margin-bottom: 42px;
}

footer .footer-copyright {
  padding-top: 12px;
}



/* Back top */
.go-top {
  background-color: #ffffff;
  box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );
  transition : all 1s ease;
  bottom: 2em;
  right: 2em;
  color: #333;
  font-size: 24px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 100%;
}

.go-top:hover {
    background: #bfba55;
    color: #ffffff;
}



/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border: 2px solid #292929;
    color: #292929;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 22px 12px 10px 12px;
}

.social-icon li a:hover {
    border-color: #bfba55;
    color: #bfba55;
    transform: scale(1.1);
}



/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

@media (max-width: 980px) {

  .main-about,
  .main-single-post,  
  .main-gallery,
  .main-contact {
    height: 35vh;
  }

}


@media (max-width: 768px) {

  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 26px;
  }

  #about .col-md-6 img {
    padding-left: 0px;
  }

  #blog-single-post .blog-single-post-image img {
    padding-bottom: 22px;
  }

  footer .col-md-4 {
    padding-top: 22px;
  }

}


@media (max-width: 650px) {

  h1 {
    font-size: 42px;
  }

   #gallery,
  #contact,
  #blog, #blog-single-post {
    padding-top: 60px;
    padding-bottom: 60px;
  }

}

